@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
  color: white;
  height: auto;
  width: 100%;
}
@media (max-width:500px){
  body{
    height: 100px;
    width: 100%;
  }
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.75);
}
#counter {
  position: absolute;
  top: 20px;
  right: 20px;
}
#end {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
#end button {
  background-color: red;
  padding: 20px 50px 20px 50px;
  font-family: inherit;
  font-size: inherit;
}
#controlls {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#controlls div {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 20px;
}
#controlls button {
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
}
#controlls button:first-of-type {
  grid-column: 1/-1;
}

.btn{
  cursor: pointer;
  border: 0;
  padding: 0.625rem 1.25rem;
  background-color: var(--button-color);
  color: var(--text-color);
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  text-decoration: none;
}

.btnn:focus {
  outline: 0;
}

.btnn:hover {
  background-color: var(--hover-color);
}

.btnn:active {
  transform: scale(0.98);
}

.rules-btnn {
  position: absolute;
  top: 1.875rem;
  left: 1.875rem;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--sidebar-color);
  color: var(--text-color);
  min-height: 100vh;
  width: 400px;
  padding: 3rem;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

.rules.show {
  transform: translateX(0);
}