* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  text-align: center;
  background-repeat: no-repeat;
}

.container {
  height: 90vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #100f0f;
  background-color: #fefef8;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #131313;
  color: #fff;
  border-radius: 1rem;
  border: none;
  margin: 20px;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}

.btn{
  cursor: pointer;
  border: 0;
  padding: 0.625rem 1.25rem;
  background-color: var(--button-color);
  color: var(--text-color);
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  text-decoration: none;
}

.btnn:focus {
  outline: 0;
}

.btnn:hover {
  background-color: var(--hover-color);
}

.btnn:active {
  transform: scale(0.98);
}

.rules-btnn {
  position: absolute;
  top: 1.875rem;
  left: 1.875rem;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--sidebar-color);
  color: var(--text-color);
  min-height: 100vh;
  width: 400px;
  padding: 3rem;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

.rules.show {
  transform: translateX(0);
}